# kafka config
BOOTSTRAP_SERVERS=localhost:9092

# Schema Registry (optional - leave commented to use JSON/string mode)
# SCHEMA_REGISTRY_URL=http://localhost:8081

# agent API keys
OPENAI_API_KEY=

# langchain keys and config
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=


