setuptools
python-dotenv
pytest
langchain
langchain-mcp-adapters
langchain_groq
langchain_core
langchain_openai
# langchain_community
# langchain_experimental
# langchain_anthropic
aiokafka
kafka-python
asyncio
mcp
mcp-server-fetch

